deaths.RData
hpol/src/hpol.o
hpol/src/hpolcc.so
hpol/src/lgamma.o
hpol/src/logspaceadd.o
hpol/src/RcppExports.o
hpol/.RData
hpolcc_0.1.0.tar.gz
sandbox/test
.RData
.Rproj.user
.Rhistory
*.Rproj
*.o
hpoltest_orig/src/.DS_Store
hpoldebug.rds
result.rds
.RDataTmp
hpoltest_0.0.1.tar.gz
.DS_Store
stuff.rds
dataMedSimple.RData
hpol/inst/hessian3.pdf
hpol/inst/hessian3.pdf
hpol/inst/hessian3.pdf
hpol/src/.DS_Store
hpol/src/Makevars
adlaplace/src/Makevars
adlaplace/src/Makevars.win
adlaplace_test/src/Makevars
Makevars.win

*.txt
applications/india/mle.rds
*log.txt
*.rds
mleX.RData
todebug.Rdata
*.html
*.blg
*.aux
*.log
*.pdf
*.xml
applications/india/indiaHpolCcD.tex
adlaplace_0.1.tar.gz
*.rds
*.so
*.pdf
hpolcc_0.2.0.tar.gz
hpolcc_0.2.0.tar.gz
*.Rcheck/
adlaplace.zip
*.gz
applications/india/indiaHpolCcD.bcf
applications/india/data/gpw/population/pop/gpw_v4_population_density_rev11_2020_5m.tif
*.tif
*.fdb_latexmk
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.fdb_latexmk
*.bcf
*.fls
*.fdb_latexmk
applications/india/indiaHpolCc.tex
*.tmd
applications/india/indiaHpolCc.tex
*.fls
*.bcf
*.png
Makevars
sandbox/large.md
sandbox/large_latex.md
sandbox/limit_analysis.md
sandbox/beta_dirichlet.md
sandbox/concise_beta_dirichlet.md
*.md
.aider*
*.bak
*.tmp
*.rmarkdown
.Rlibrary
**/.Rlibrary
/R_libs
/R_libs/adlaplace
/R_libs
docs/paper/examples/bacteria/bacteria_files/libs/bootstrap/bootstrap-138a6193a3bd40baf1e627da441a4734.min.css
/docs/paper/examples/bacteria/bacteria_files
/docs/paper/examples/bacteria/bacteria_files
docs/paper/examples/bacteria/bacteria_files/libs/bootstrap/bootstrap-138a6193a3bd40baf1e627da441a4734.min.css
docs/paper/examples/bacteria/bacteria_files/libs/bootstrap/bootstrap-icons.css
docs/paper/examples/bacteria/bacteria_files/libs/bootstrap/bootstrap-icons.woff
docs/paper/examples/bacteria/bacteria_files/libs/bootstrap/bootstrap.min.js
docs/paper/examples/bacteria/bacteria_files/libs/clipboard/clipboard.min.js
docs/paper/examples/bacteria/bacteria_files/libs/quarto-html/anchor.min.js
docs/paper/examples/bacteria/bacteria_files/libs/quarto-html/popper.min.js
