deaths.RData
hpol/src/hpol.o
hpol/src/hpolcc.so
hpol/src/lgamma.o
hpol/src/logspaceadd.o
hpol/src/RcppExports.o
hpol/.RData
hpolcc_0.1.0.tar.gz
sandbox/test
.RData
.Rproj.user
.Rhistory
hpoltest.Rproj
*.o
hpoltest_orig/src/.DS_Store
hpoldebug.rds
result.rds
.RDataTmp
hpoltest_0.0.1.tar.gz
.DS_Store
stuff.rds
dataMedSimple.RData
hpol/inst/hessian3.pdf
hpol/inst/hessian3.pdf
hpol/inst/hessian3.pdf
hpol/src/.DS_Store
hpol/src/Makevars
adlaplace/src/Makevars
adlaplace_test/src/Makevars
*.txt
applications/india/mle.rds
applications/synthetic/log.txt
*.rds
mleX.RData
todebug.Rdata
*.html
*.blg
*.aux
*.log
*.pdf
*.xml
applications/india/indiaHpolCcD.tex
adlaplace_0.1.tar.gz
*.rds
*.so
*.pdf
hpolcc_0.2.0.tar.gz
hpolcc_0.2.0.tar.gz
*.Rcheck/
adlaplace.zip
*.gz
applications/india/indiaHpolCcD.bcf
applications/india/data/gpw/population/pop/gpw_v4_population_density_rev11_2020_5m.tif
*.tif
*.fdb_latexmk
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.fdb_latexmk
*.bcf
*.fls
*.fdb_latexmk
applications/india/indiaHpolCc.tex
*.tmd
applications/india/indiaHpolCc.tex
*.fls
*.bcf
*.png
hpoltest_orig/
hpol/
