.DS_Store
**/.DS_Store
.Rproj.user
.Rhistory
.RData
*.tar.gz
Rplots.pdf
vignettes/*.html
vignettes/*_files/
vignettes/*.knit.md
src/*.o
src/*.so
src/*.dll
src/Makevars
src/Makevars.win
tests/testthat/_snaps/
.Rlibrary
**/.Rlibrary
