useDynLib(admvn, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, cov2cor, dnorm, pnorm)
export(pmvn)
export(pmvn_fun)
export(pack_genz_ch)
export(make_sun_params)
export(dsun)
export(dsun_fun)
export(sun_mle)
