useDynLib(admvn, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, dnorm, pnorm, optim)
importFrom(utils, modifyList)
importFrom(statmod, gauss.quad.prob)
export(pmvn)
export(pmvn_fun)
export(pack_genz_ch)
export(make_sun_params)
export(make_sun_hs_params)
export(make_sun22_params)
export(make_sun22_hs_params)
export(make_sun32_hs_params)
export(make_sun42_hs_params)
export(make_sun52_hs_params)
export(make_sun43_hs_params)
export(make_sun44_params)
export(make_sun44_hs_params)
export(dsun)
export(dsun_fun)
export(dsun_hs)
export(dsun_hs_fun)
export(dsun22)
export(dsun22_fun)
export(dsun22_hs)
export(dsun22_hs_fun)
export(dsun32_hs)
export(dsun32_hs_fun)
export(dsun42_hs)
export(dsun42_hs_fun)
export(dsun52_hs)
export(dsun52_hs_fun)
export(dsun43_hs)
export(dsun43_hs_fun)
export(dsun44)
export(dsun44_fun)
export(dsun44_hs)
export(dsun44_hs_fun)
export(sun_mle)
export(gh_points)
export(weighted_mean)
export(weighted_cov)
export(sun22_bounds)
export(sun22_hs_bounds)
export(sun32_hs_bounds)
export(sun42_hs_bounds)
export(sun52_hs_bounds)
export(sun43_hs_bounds)
export(sun33_bounds)
export(sun33_hs_bounds)
export(sun44_bounds)
export(sun44_hs_bounds)
export(make_sun22_start_from_normal)
export(make_sun22_start_from_gh)
export(make_sun22_hs_start_from_normal)
export(make_sun22_hs_start_from_gh)
export(make_sun32_hs_start_from_normal)
export(make_sun32_hs_start_from_gh)
export(make_sun42_hs_start_from_normal)
export(make_sun42_hs_start_from_gh)
export(make_sun52_hs_start_from_normal)
export(make_sun52_hs_start_from_gh)
export(make_sun43_hs_start_from_normal)
export(make_sun43_hs_start_from_gh)
export(make_sun33_start_from_normal)
export(make_sun33_start_from_gh)
export(make_sun33_hs_start_from_normal)
export(make_sun33_hs_start_from_gh)
export(make_sun44_start_from_normal)
export(make_sun44_start_from_gh)
export(make_sun44_hs_start_from_normal)
export(make_sun44_hs_start_from_gh)
export(evaluate_sun22_slice)
export(evaluate_sun32_hs_slice)
export(evaluate_sun42_hs_slice)
export(evaluate_sun52_hs_slice)
export(evaluate_sun43_hs_slice)
export(evaluate_sun33_slice)
export(evaluate_sun33_hs_slice)
export(evaluate_sun44_slice)
export(fit_sun22_quad)
export(fit_sun32_hs_quad)
export(fit_sun42_hs_quad)
export(fit_sun52_hs_quad)
export(fit_sun43_hs_quad)
export(fit_sun33_quad)
export(fit_sun33_hs_quad)
export(fit_sun44_quad)
export(print_sun_kl_fit)
